[submodule "sls4all/SLS4All.Compact"]
	path = sls4all/SLS4All.Compact
	url = git@github.com:sls4all/SLS4All.Compact.git
[submodule "sls4all/Inova-API-Plugin"]
	path = sls4all/Inova-API-Plugin
	url = git@github.com:ppak10/Inova-API-Plugin.git
[submodule "sls4all/Inova-Defect-Detection-Model"]
	path = sls4all/Inova-Defect-Detection-Model
	url = git@github.com:ppak10/Inova-Defect-Detection-Model.git
[submodule "datasets/Inova-Mk1-Telemetry"]
	path = datasets/Agentic-SLS-Telemetry
	url = git@hf.co:datasets/ppak10/Agentic-SLS-Telemetry
	update = none
[submodule "datasets/Inova-Mk1-Database"]
	path = datasets/Agentic-SLS-Database
	url = git@hf.co:datasets/ppak10/Agentic-SLS-Database
	update = none
[submodule "datasets/Inova-Mk1-ASTM"]
	path = datasets/Agentic-SLS-ASTM
	url = git@hf.co:datasets/ppak10/Agentic-SLS-ASTM
	update = none
[submodule "datasets/Inova-Mk1-Conversations"]
	path = datasets/Agentic-SLS-Conversations
	url = git@hf.co:datasets/ppak10/Agentic-SLS-Conversations
	update = none
[submodule "Agentic-Additive-Manufacturing-Process-Optimization.wiki"]
	path = wiki
	url = git@github.com:ppak10/Agentic-Additive-Manufacturing-Process-Optimization.wiki.git
[submodule "datasets/SLS-Knowledge"]
	path = datasets/Agentic-SLS-Knowledge
	url = git@hf.co:datasets/ppak10/Agentic-SLS-Knowledge
